	
h3 {
      color: #62cbc9;
}

table{
  border-collapse:separate;
  border-spacing: 5px;
  width: 100%;
}

table th,table td{
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

table th{
  background-color: #62cbc9;
  color: white;
  border:solid 1px #b8e8dc;
}

table td{
  background-color: #e5f8f3;
  border:solid 1px #b8e8dc;
}

.circle {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
	border-radius: 20px;
    text-align: center;
}
	
.status-not-started { 
	background-color: #ff7373;
	color: white; 
}
.status-in-progress {
	background-color: #a4afc3;
	color: white; 
}
.status-completed {
	background-color: #5fa8f5;
	color: white; 
 }

.priority-low {
	color: white; 
	background-color: #5fa8f5;
}
.priority-medium {
	 color: white; 
	 background-color: #a4afc3;
 }
.priority-high {
	 color: white; 
	 background-color: #ff7373;
 }
 
 .form-container {
     margin-top: 20px;
     padding: 20px;
     border-radius: 5px;
     background-color: #e5f8f3;
     border: solid 1px #b8e8dc;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 }
 
 .form-container label {
     color: #333;
 }
 
 .form-container input[type="text"],
 .form-container input[type="date"],
 .form-container textarea,
 .form-container select {
     width: 100%;
     padding: 10px;
     margin-top: 5px;
     border-radius: 3px;
     border: solid 1px #b8e8dc;
     box-sizing: border-box;
 }
 
 .form-container button[type="submit"] {
     background-color: #62cbc9;
     color: white;
	 margin: 10px;
     padding: 10px 20px;
     border: none;
     border-radius: 3px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 .form-container button[type="submit"]:hover {
     background-color: #55b0aa;
 }
