<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク管理アプリ</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
	
	table{
	  border-collapse:separate;
	  border-spacing: 5px;
	  width: 100%;
	}
	
	table th,table td{
	  border-radius: 5px;
	  text-align: center;
	  padding: 10px 0;
	}
	
	table th{
	  background-color: #62cbc9;
	  color: white;
	  border:solid 1px #b8e8dc;
	}
	
	table td{
	  background-color: #e5f8f3;
	  border:solid 1px #b8e8dc;
	}
	
	.status-not-started { color: red; }
	.status-in-progress { color: orange; }
	.status-completed { color: green; }
	
	.priority-low { color: red; }
	.priority-medium { color: orange; }
	.priority-high { color: green; }
	
</style>
</head>
<body>
    
    <div class="form-container">
         <h1>タスクの追加</h1>
         <form th:action="@{/added}" method="post">
            
            <div>
               <label for="taskName">タスク</label>
               <input type="text" id="name" name="taskName" required>            
            </div>
         
            <div>            
               <label for="taskMemo">メモ</label>
               <textarea id="memo" name="taskMemo"></textarea>
            </div>
        
            <div>
                <label for="deadline">締め切り</label>
                <input type="date" id="deadline" name="deadline" required>
            </div>
         
            <div>
                <label for="status">Status</label>
                <select id="status" name="status" required>
                    <option value="NOT_STARTED">NOT_STARTED</option>
                    <option value="IN_PROGRESS">IN_PROGRESS</option>
                    <option value="COMPLETED">COMPLETED</option>
                </select>
            </div>
            
            <div>
                <label for="priority">Priority:</label>
                <select id="priority" name="priority" required>
                    <option value="LOW">LOW</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="HIGH">HIGH</option>
                </select>
            </div>
            
            <div>
                <label for="category">Category:</label>
                <input type="text" id="category" name="category">
            </div>
            
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
         
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
<!--           <th>Id</th>-->
            <th>タスク</th>
            <th>メモ</th>
            <th>〆切</th>
            <th>作成日時</th>
            <th>更新日時</th>
            <th>状況</th>
            <th>優先度</th>
            <th>分類</th>
            <th>削除</th>
			<th>編集</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="task :${taskList}">
<!--            <td th:text="${task.taskId}"></td>-->
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.taskMemo}"></td>
            <td th:text="${task.formattedDeadline}"></td>
            <td th:text="${task.formattedCreatedAt}"></td>
            <td th:text="${task.formattedUpdatedAt}"></td>
			<td th:text="${task.status}" 
                th:classappend=	"${task.status.name()} == 'NOT_STARTED' ? 'status-not-started' : 
			                      (${task.status.name()} == 'IN_PROGRESS' ? 'status-in-progress' : 
			                      (${task.status.name()} == 'COMPLETED' ? 'status-completed' : ''))">
            </td>
            <td th:text="${task.priority}"
				th:classappend="${task.priority.name()} == 'LOW' ? 'priority-low' :
								(${task.priority.name()} == 'MEDIUM' ? 'priority-medium' :
								(${task.priority.name()} == 'HIGH' ? 'priority-high' : ''))">
			</td>
            <td th:text="${task.category}"></td>
			<td>
			    <form th:action="@{/{taskId}/delete(taskId=${task.taskId})}" method="post">
			        <button type="submit" style="background: none; border: none; cursor: pointer;">
			            <i class="fas fa-trash-alt"></i>
			        </button>
			    </form>
			</td>
			<td>
			    <form th:action="@{/{taskId}/edit(taskId=${task.taskId})}" method="post">
			        <button type="submit" style="background: none; border: none; cursor: pointer;">
			            <i class="fas fa-edit"></i>
			        </button>
			    </form>
			</td>
          </tr>
        </tbody>
      </table>
    </div>
	
	<script src="/js/script.js"></script>
</body>
</html>
