<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>タスク管理アプリ</title>
</head>
<body>
    
    <div class="form-container">
         <h1>タスクの追加</h1>
         <form th:action="@{/added}" method="post">
            
            <div>
               <label for="taskName">タスク</label>
               <input type="text" id="name" name="taskName" required>            
            </div>
         
            <div>            
               <label for="taskMemo">メモ</label>
               <textarea id="memo" name="taskMemo"></textarea>
            </div>
        
            <div>
                <label for="deadline">締め切り</label>
                <input type="date" id="deadline" name="deadline" required>
            </div>
         
            <div>
                <label for="status">Status</label>
                <select id="status" name="status" required>
                    <option value="NOT_STARTED">NOT_STARTED</option>
                    <option value="IN_PROGRESS">IN_PROGRESS</option>
                    <option value="COMPLETED">COMPLETED</option>
                </select>
            </div>
            
            <div>
                <label for="priority">Priority:</label>
                <select id="priority" name="priority" required>
                    <option value="LOW">LOW</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="HIGH">HIGH</option>
                </select>
            </div>
            
            <div>
                <label for="category">Category:</label>
                <input type="text" id="category" name="category">
            </div>
            
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
         
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Memo</th>
            <th>deadline</th>
            <th>createdAt</th>
            <th>updatedAt</th>
            <th>status</th>
            <th>priority</th>
            <th>category</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="task :${taskList}">
            <td th:text="${task.taskId}"></td>
            <td th:text="${task.taskName}"></td>
            <td th:text="${task.taskMemo}"></td>
            <td th:text="${task.deadline}"></td>
            <td th:text="${task.createdAt}"></td>
            <td th:text="${task.updatedAt}"></td>
            <td th:text="${task.status}"></td>
            <td th:text="${task.priority}"></td>
            <td th:text="${task.category}"></td>
            <td>
               <form th:action="@{/{taskId}/delete(taskId=${task.taskId})}" method="post">
                   <input type="submit" value="削除">
               </form>
            </td>
            <td>
               <form th:action="@{/{taskId}/modify(taskId=${task.taskId})}" method="post">
                   <input type="submit" value="編集">
               </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>
